<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动端适配 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable = no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel = "stylesheet" type="text/css" href = "<%= BASE_URL %>css/common.css">
    <!-- <link rel = "stylesheet" href = "<%= BASE_URL %>/css/common.css"> -->
    <title>Document</title>
  </head>

  <body>
      <div id ="main">
          <header id = "header">
              <h1>喵喵</h1>
          </header>
          <div id = "content">
              <div class = "cinema-menu">
                  <div class = "city-switch">
                      全城<i class ="iconfont icon-lower-triangle"></i>
                  </div>
                  <div class = "city-switch">
                      品牌<i class ="iconfont icon-lower-triangle"></i>
                  </div>
                  <div class = "city-switch">
                      特色<i class ="iconfont icon-lower-triangle"></i>
                  </div>
              </div>

              <div class = "cinema-body">
                  <ul>
                      <li>
                          <div>
                              <span>大地影院</span>
                              <span class = "q"><span class = "price"> 22.9</span>无记</span>
                          </div>
                          <div class = "address">
                            <span>世纪楼3层</span>
                            <span>111.0km</span>
                        </div>
                        <div class = "card">
                            <div>小吃</div>
                            <div>折扣卡</div>
                        </div>
                      </li>
                  </ul>
              </div>
          </div>
          <footer id = "footer">
            <ul>
                <li>
                  <i class="iconfont icon-dianying"></i>
                  <p>电影</p>
                </li>
                <li class="active">
                  <i class="iconfont icon-yingyuan"></i>
                  <p>电影</p>
                </li>
                <li>
                  <i class="iconfont icon-wode"></i>
                  <p>我的</p>
                </li>
            </ul>
        </footer>
      </div>
      
  </body>